<app-instructor-navbar></app-instructor-navbar>


<div class="course-container">
    <h2>Select a Course</h2>
    <div class="course-grid">
      
      <div class="course-card" [routerLink]="'/covid19course'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Archived COVID-19</h3>
        <p></p>
    </div>
    
  
      <div class="course-card" [routerLink]="'/cliniclagovernance'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Clinical Governance</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/cme'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <h3>Conflict Management eLearning</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/cshh'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Control of Substances Hazardous toHealth</h3>
        <p>(COSHH)</p>
      </div>
  
      <div class="course-card" [routerLink]="'/cs'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Customer Service</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/dse'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Data Protection including GDPR</h3>
        <p></p>
      </div>
      <div class="course-card" [routerLink]="'/ds'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Display Screen Equipment</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/drk'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Documentation and Record Keeping</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/efa'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>eLFY First Aid</h3>
        <p></p>
      </div>
      <div class="course-card" [routerLink]="'/edd'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Equality & Diversity</h3>
        <p>Data Science and AI</p>
      </div>
  
      <div class="course-card" [routerLink]="'/fa'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Fire Awareness</h3>
        <p></p>
      </div>
  
      <div class="course-card" [routerLink]="'/fsa'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Food Safety Awarness</h3>
        <p></p>
      </div>
  
      
      <div class="course-card" [routerLink]="'/hs'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Health & Safety</h3>
        <p></p>
      </div>
      <div class="course-card" [routerLink]="'/ipc'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Infection Prevention & Control</h3>
        <p></p>
      </div>


      <div class="course-card" [routerLink]="'/mh'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Mental Health</h3>
        <p></p>
      </div>

      <div class="course-card" [routerLink]="'/ms'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Modern Slavery</h3>
        <p></p>
      </div>

      <div class="course-card" [routerLink]="'/sp'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Safeguarding & Protection of Adults</h3>
        <p></p>
      </div>
      
      <div class="course-card" [routerLink]="'/sc'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Safeguarding Children</h3>
        <p></p>
      </div>

      
      <div class="course-card" [routerLink]="'/ss'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Self-harm</h3>
        <p></p>
      </div>

      
      
      <div class="course-card" [routerLink]="'/sh'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <h3>Sexual Harassment</h3>
        <p></p>
      </div>
    </div>
  </div>
  